.alert-msg{
    
    background-color: white;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 2px 0px 0px #D8D8D8;
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}
.alert__icon , .alert__close
{
    align-self: auto;
    padding: 8px;
}
.newsfeed{
    font-size:12px;
}