<br>
    <div class="col-md-12">
        <div class="alert-msg">
            <div class="alert__icon icon-info-circle"></div>
            <div class="alert__message">
                    <p>
                    Announcement Headline<br>
                    <span class="newsfeed">{{newsfeed.news}}</span>
                    
                            <a href="https://cisco.jiveon.com"
                                target="_blank">
                                <u>learn more></u>
                            </a>
                        </p>
            </div>
            <div (click)="destroy()" class="alert__close icon-close"></div>
        </div>
    </div>
