 a.link{
    color:white;
}
a:hover{
    color: #2d5895;
}
a .icon-close{
    margin-left: 81rem;
    color:white;
    position :absolute;
}
.icon-small{
    font-size:1px;
}
.newsfeed{ 
    display: block;
    word-break: break-all;
    width: 100%;
    padding: 9px 0px 8px 0px;
}
.headline{
    position: relative;
}