<br>
      <div class="row">
          <div class="col-md-12 ">
             
              <div class="panel panel--mdgray">
              
                  <span class="all-deals-panel-heading">All Deals 3</span>
                  <div class="pull-right">
                      <span>Select Filters</span>
                    <a class="icon-filter icon-medium" style="color: #049fd9;"
                     data-toggle="collapse" href="#filtercollapse"> </a>
                     <span class="panel-icons-divider"></span>
                    <span class="icon-thumbnail-view icon-medium" style="color: #049fd9"></span>
                   
                    <span class="icon-devices icon-medium"></span>
                </div>
                 
                </div>  
            </div>
            </div>   
            <div class="row">
                <div class="col-md-12 "> 
                <div id="filtercollapse" >
                    <div class="panel panel--bordered">
                       

                        <div class="form-group">
                            <div class="row">
                                          <div class="col">
                                              <div class="form-group__text select">
                                                  <select name="select1">
                                                      <option value="0" selected>Business Entity</option>
                                                      <option value="option1">Option 1</option>
                                                      <option value="option2">Option 2</option>
                                                      <option value="option3">Option 3</option>
                                                  </select>
                                              </div>
                                      </div>
                                      <div class="col">
                                              <div class="form-group__text select">
                                                  <select name="select1">
                                                      <option value="0" selected>Market Segment/Technlogy</option>
                                                      <option value="option1">Option 1</option>
                                                      <option value="option2">Option 2</option>
                                                      <option value="option3">Option 3</option>
                                                  </select>
                                              </div>
                                      </div>
                                      <div class="col">
                                          <div class="form-group__text select">
                                              <select name="select1">
                                                  <option value="0" selected>Archetype</option>
                                                  <option value="option1">Option 1</option>
                                                  <option value="option2">Option 2</option>
                                                  <option value="option3">Option 3</option>
                                              </select>
                                          </div>
                                  </div>
                                  <div class="col">
                                          <div class="form-group__text select">
                                              <select name="select1">
                                                  <option value="0" selected>Geography</option>
                                                  <option value="option1">Option 1</option>
                                                  <option value="option2">Option 2</option>
                                                  <option value="option3">Option 3</option>
                                              </select>
                                          </div>
                                  </div>
                                  <div class="col">
                                      <div class="form-group__text select">
                                          <select name="select1">
                                              <option value="0" selected>Size</option>
                                              <option value="option1">Option 1</option>
                                              <option value="option2">Option 2</option>
                                              <option value="option3">Option 3</option>
                                          </select>
                                      </div>
                              </div>
                              <div class="col">
                                      <div class="form-group__text select">
                                          <select name="select1">
                                              <option value="0" selected>Content</option>
                                              <option value="option1">Option 1</option>
                                              <option value="option2">Option 2</option>
                                              <option value="option3">Option 3</option>
                                          </select>
                                      </div>
                              </div>

                              <div class="col">
                                  <button class="btn btn--small btn--gray-ghost">Add Filters</button>
                                </div>
                                <span>|</span>
                                <div class="col">
                                  <a style="color: #049fd9">Advance Filters</a>
                              </div>

                            </div>
                        </div>


                    </div>
              </div>

</div>
</div>

<div class="row">
    <div class="col-md-12">
                  <div class="panel panel--mdgray"> 
                  <div class="row">                       
                      <div class="col-md-9">                        
                          <div class="pull-left">
                              <button class="btn btn--small">Business Entity 2 <div class="alert__close icon-close"></div></button>
                              <button class="btn btn--small">Market Segment 3 <div class="alert__close icon-close"></div></button>
                              <button class="btn btn--small">Geography 1 <div class="alert__close icon-close"></div></button>                     
                              <button class="btn btn--small">Size 10 <div class="alert__close icon-close"></div></button>                         
                          </div>
                      </div>

                      <div class="col-md-3">
                        <div class="pull-right">
                              <a style="color: #049fd9">Clear All</a>
                              <span>|</span>
                             <button class="btn btn--small btn--primary">Apply</button>
                        </div>
                     </div>
                       
                  </div>                  
                    </div>

              
          </div>
         
      </div>
        
         
      <br>
       <h5>Results </h5> 
 

      <div class="row">
          <div class="col-md-4">  
               <div class="panel panel--bordered">
                  <div class="row image-icon">
                      <img src="./assets/img/perspica.png">
                  </div>
                  <div class="heading"> Deal Lorem ipsum dolor
                      <span class="heading-divider"> </span>
                    </div>
                    <div class="row items">
                        <div class="col-md-4 item-divider"> 
                            <span >GTM/Offer<br>
                              <img src="./assets/img/Offer_Umber.png"></span>
                        </div>
                        <div class="col-md-4 item-divider"> 
                            <span >Culture/Callab<br>
                              <img src="./assets/img/Collab_Red.png"></span>
                         </div>
                         <div class="col-md-4"> 
                            <span >Capabilities<br>
                              <img src="./assets/img/Capabilities_Green.png"></span>  
                         </div>
                    </div>
                    <div class="row items">
                        <div class="col-md-4 item-divider"> 
                            <span >Roadmap<br>
                              <img src="./assets/img/Roadmap_Umber.png"></span>
                        </div>
                        <div class="col-md-4 item-divider"> 
                            <span >VDDS<br>
                              <img src="./assets/img/VDDS_Green.png"></span>
                         </div>
                         <div class="col-md-4"> 
                            <span >End State<br>
                              <img src="./assets/img/EndState_Red.png"></span>
                         </div>
                    </div>

                                <div>
                                    <button class="btn btn--small">View Deal DNA</button>
                                  <button class="btn btn--primary-ghost btn--small">View Deal Detail</button>
                                </div>
              </div>
          </div>
      </div>