.panel-group .panel{
     margin-top: 1em;
    }
.panel-group .panel{
     margin-top: 1em;
   }
   .panel-primary>.panel-heading {
    color: #fff;
    background-color: #2b5592;
    border-color: #2b5592;
  }
  .avatar {
    display: block;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 5px solid #FFF;
  }
  
  img {
    height: 250px; 
    width: 250px
  }
  .jive-color{
    color: #0377A1;
  }
   .panel--bordered {
    border: 2px solid #FFF;
    border-radius: 25px;
    
  }
  