<div class="container">
        <div class="centralize">
          <div class="avatar">
            <img src="./assets/img/settings.png">
          </div>
          <div>
            <h6>THIS PAGE IS CURRENTLY UNDER CONSTRUCTION</h6>
            <h6>FOR MORE UPDATES AND ROADMAP SEE OUR
              <a href="" class="jive-color">JIVE PAGE </a> HERE
            </h6>
          </div>
        </div>
        </div>
<!-- 
<app-announcement *ngIf="childExists" (pleaseDeleteMeEvent)="deleteHandler()"></app-announcement>
<h3>{{errorMsg}}</h3>

<div class="container">
    <div class="panel-group" style="width: 125%">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <span class="panel-heading-style">ALL DEALS({{allDealsCount}})</span>
        <div class="btn-group pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-more icon-small"></span></a>                
                <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="fontsmall">Edit</a></li>
                        <li><a href="#" class="fontsmall">Customise</a></li>
                        <li><a href="#" class="fontsmall">Reorder</a></li>                  
                      </ul>
              </div>
            </div>
      <div class="panel-body">
          <div class="row panel-three">
              <div  *ngFor="let deal of allDeals ; let i =index">
                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
            </div>
          </div>
      
       </div>

      </div>
    </div>
  </div>
</div> -->