
.panel--mdgray{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.all-deals-panel-heading{
  font-size: 20px; 
  font-weight: 500; 
}

.panel-icons-divider{  
  border-right: 1px solid #c3bfbf;
  line-height: 10px;
  margin:  0px 6px 0px 6px;
}
.alert__icon, .alert__close {
  font-size: 1.2rem;  
}
.deal-title{
  color: #58585b;
  font-size: 14px;
  height: 44px;
}
.items{
  border-bottom: 1px solid #d8d8d8;
  height: 77px;
  padding: 4px 0px 6px 0px;  
  text-align: center;
}
.item-divider{
  border-right: 1px solid #d8d8d8;
}
.heading{ 
  border-bottom: 1px solid #d8d8d8; 
  font-weight: 600; 
}
.heading-divider{
  padding: 0px 0px 0px 139px;
}

.img-size{
  height: 32px;
  width: 115px;
}
.icon-medium:before { 
  font-size: 2.2rem;
}
.all-deals-count{
 color: #049fd9;
 padding-left: 6px;
}
.panel{
  border-radius: 6px;
}