
  <div class="side--nav">
   <ul class="side--content">
       <li class="side--item" ><a [routerLinkActive]="['active']" [routerLink] = "['/MyDeals']">My Deals</a></li>
      <div class="dropdown-divider"></div>
      <li class="side--item" ><a [routerLinkActive]="['active']" [routerLink] = "['/AllDeals']">All Deals</a></li>
      <div class="dropdown-divider"></div>
      <li class="side--item" ><a [routerLinkActive]="['active']" [routerLink] = "['/Methodology']">Methodology</a></li>
      <div class="dropdown-divider"></div>
      <li class="side--item-ld" ><a [routerLinkActive]="['active']" [routerLink] = "['/LearningandDevelopment']">Learning & Development</a></li>
      <div class="dropdown-divider"></div>
      <li class="side--item" ><a [routerLinkActive]="['active']" [routerLink] = "['/Initiatives']">Initiatives</a></li>
      <div class="dropdown-divider"></div>
      <li class="toggle-content" (click)="toggleDropDown()">
          <div> 
            <div class="togright" *ngIf="toggleright;else toggledown"><a [routerLink] = "['/QuickTools']">Quick Tools<span class="icon-chevron-right icon-small"></span></a></div>
            <ng-template #toggledown><div class="togdown"><a [routerLink] = "['/QuickTools']">Quick Tools<span class="icon-chevron-down icon-small"></span></a></div>
              <div class="toggle-item"  *ngIf="showDropDown">
                  <a class="item" [routerLinkActive]="['active']" (click)="toggleDropDown()" [routerLink] = "['/dip']">DIP</a>
                </div>
            </ng-template>
            
          </div>
          
        </li>
      <div class="dropdown-divider"></div>
      <li class="side--item" ><a [routerLinkActive]="['active']" [routerLink] = "['/AllTools']">All Tools</a></li>
      
  </ul>
</div>