.side--nav{
  background-color: #FFFFFF;
    width: 177px;
    height:896px;
}
.side--item{
  height: 62px;
  width:177px;
  margin: 0px 0px 0px -20px;
}

.side--item a{
  color:#049FD9;
  font-family: CiscoSansTT;
  font-size:16px;
  padding: 10px;
  position: absolute;
}
.side--item a.active{
  background-color:#049FD9;
  color:#FFFFFF;
  display: block;
  position: relative;
  height: 62px;
  width: 177px;
}
.side--item a:hover{
background-color: #64BBE3;
color:#FFFFFF;
display: block;
position: relative;
height: 62px;
width: 177px;
}
.toggle-content a{
  font-family: CiscoSansTT;
  font-weight: bold;
  font-size:14px;
}
.dropdown-divider {
  margin :0px 0px 0px -20px;
  border-top: 1px solid #D8D8D8;
}

ul, ol {
  list-style: none;
  }