<div class="row">
	<div *ngIf="_navOpened" class="col-3 sidenav-open">
		<div class="row">
			<aside id="mySidenav" class="sidenav col-12">
				<div class="row">
					<ul>
						<li>
							<div class="row">
								<div class="col-6">
									<div class="row">
										<p class="col-12 non-selected">Transaction Name</p>
										<p class="col-12">Segment</p>
										<p class="col-12">Last uploaded: Timestamp</p>
									</div>
								</div>
								<div class="col-6">
									<div class="row">
										<p class="col-12">Transaction Type</p>
										<p class="col-12">Upload Count: #</p>
										<p class="col-12">Last Uploaded Status</p>
									</div>
								</div>
							</div>
						</li>
						<li *ngFor="let transaction of transactionsData" (click)="navigateToTransactionDetails(transaction)">
							<div class="row">
								<div class="col-6">
									<div class="row">
										<p class="col-12 non-selected">{{transaction.adl_acquisition_name}}</p>
										<p class="col-12">{{transaction.adl_acquisition_type}}</p>
										<p class="col-12">{{transaction.adl_acquisition_update_date}}</p>
									</div>
								</div>
								<div class="col-6">
									<div class="row">
										<p class="col-12">{{transaction.adl_acquisition_trans_type}}</p>
										<p class="col-12">{{'50'}}</p>
										<p class="col-12">{{'Completed'}}</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</aside>
			<div class="col-12 no-padding">
				<button class="btn btn--success add-new" (click)="navigateToNewTransaction()" >Add New transaction</button>
			</div>
		</div>
	</div>
	<div class="toggle" [ngClass]="{'toggle-opened':_navOpened, 'toggle-closed':!_navOpened}" (click)="toggleSideNav()">
			<span class="label label--circle">
				<span [ngClass]="{'icon-chevron-left':_navOpened, 'icon-chevron-right':!_navOpened}"></span>
			</span>
	</div>
	<div id="main" class="side-nav-container"  [ngClass]="{'col-9': _navOpened, 'col-12': !_navOpened}">
		
		
		<div class="row" style="height:100%">
			<div class="col-12 transaction-panel">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>