/* The side navigation menu */
.sidenav {
  /* 0 width - change this with JavaScript */
  /* Stay on top */
  background-color: #fff; /* Black*//* Disable horizontal scroll */
  border:1px solid #dfdfdf;
  //padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  position: absolute;
  bottom: 8%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  touch-action: auto;
  will-change: initial;
  z-index: 99999999;

}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav li {
  list-style:none;
  cursor:pointer;
  border-bottom:1px solid #dfdfdf;
  padding-left:5px;
}

.sidenav li:hover{
  background:#dfdfdf45;
  border:3px solid darkgrey;
}
.sidenav ul {
  padding: 0 0 0 14px;
}

.sidenav p{
  font-size:7pt;
  margin: 5px 0px !important;
  font-weight:600
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

.sidenav-open{

}

.sidenav-close{

}

.sidenav-open-main{
  margin-left:250px;
}

.sidenav-close-main{
  margin-left:0px;
}

.non-selected{
  color:#2b5592;
  font-weight: 400;
}

.add-new{
  border-radius:0px;
  width:100%;
  height:30px;
  max-width:none !important;
}

.no-padding{
  padding-left:0px;
  padding-right:0px;
  position: absolute;
  top:92%;
}

.toggle {
  position: absolute;
  top:50%;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.toggle-opened{
  left:24.6%;
}

.toggle-closed{
  left:0%;
}

.side-nav-container{
  padding-left:45px;
  padding-right:0px;
}

.transaction-panel{
  background: white;
  border:1px solid darkgrey;
  padding-left:0px;
}