.sub-tab-bar{ margin:20px 0 0 0; padding:0;}
.sub-tab-bar a{ cursor: pointer;}
.search-input-global{margin:0!important; height:0!important}
.form-group{ margin-bottom:0!important}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color: #049BD8!important; border: 0px none!important; border-bottom: 5px solid #049BD8!important;  background: transparent!important;}