<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>CISCO M&A </title>
    
    <link rel="stylesheet" href="/stylesheets/ciscoStyle/css/cui-standard.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="cui">
<my-app>Loading...</my-app>
</body>
<script src="/js/app/bundle.js"></script>

</html>
