<div class="header--bar">

    <div class="left">
        <a class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>

        <div class="header-bar-main">
            <h1 class="page-title">One CSO</h1>
</div>
    </div>
    <div class="right">
        <a>
            <img class="thumb thumb--small" src="http://wwwin.cisco.com/dir/photo/zoom/shisubbi.jpg">
        </a>
        <span class="space"></span>
        <a class="btn btn--small btn--icon">
            <span class="icon-alert"></span>
        </a>
        <span class="space"></span>
        <a class="btn btn--small btn--icon">
            <span class="icon-cog"></span>
        </a>
    </div>
</div>

