.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  height: 110px; }
.header--compressed .header-bar {
  height: 60px;
 }
.header--compressed .header-bar__logo {
    margin: 0 20px 0 0;
}
.header-heading .page-title {
  font-size: 28px;
  
}
/* .header-toolbar{
  margin:0px -70px 0px 0px;
} */
.btn.btn--icon.btn--small > span[class^="icon-"] {
  font-size: 1.4rem; 
}