<div class="header--bar">

    <div class="left">
        <a class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>

        <div class="header-bar-main">
            <h1 class="page-title">One CSO</h1>
</div>
    </div>
    <div class="right">
            <!-- <div class="dropdown">
                    <button class="btn btn--primary btn--dropdown">Divider</button>
                    <div class="dropdown__menu">
                        <a>Action One</a>
                        <a>Action Two</a>
                        <div class="dropdown__divider"></div>
                        <a>Action Three</a>
                    </div>
                </div> -->
            <p>{{userId}}</p>
  
            <a >
            <img class="thumb thumb--small" src="http://wwwin.cisco.com/dir/photo/zoom/shisubbi.jpg">
          </a>
        
        <span class="space"></span>
        <a class="btn btn--small btn--icon">
            <span class="icon-alert"></span>
        </a>
        <span class="space"></span>
        <a class="btn btn--small btn--icon">
            <span class="icon-cog"></span>
        </a>
       <!--  <button class="btn btn--primary" (click)="onLogout()">Logout</button> -->
         
  
        </div>
      </div>
    

