.container-wrapper{
  margin-top:20px;
}

.custom-select{
  width:90%;
  border:1px solid #ffffff00 !important;
}

.disabled-class{
  pointer-events: none;
}

.no-border{
  width:90% !important;
  border:none;
}

select{
  padding: 0px !important;;
}