 <app-announcement *ngIf="childExists" (pleaseDeleteMeEvent)="deleteHandler()"></app-announcement> 
 <app-summary></app-summary> 


<div class="row">
    <div class="col-md-12 panel-group panel-group--compressed">
        <div class="panel panel--mdgray">
            <h6>Active Deals</h6>
        </div>
         
          <div class="btn-group pull-right">
              <span class="icon-thumbnail-view icon-small"></span>
              <span class="divider"></span>
              <span class="icon-devices icon-small"></span>
              <span class="divider"></span>
              <a data-toggle="collapse" href="#collapse1">
              <span class="icon-chevron-right-circle icon-small"></span>
            </a>
          
              </div>
        </div>
</div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="row">
            <div class="col-md-4">  
          <div class="panel-body">
                <table>
                  
                 
                  <tr><td> <div class="heading">Deal Lorem ipsum dolor</div>
                   </td></tr>
                   <tr><td> <ul>
                      <li>Overdue Tasks</li>
                      <li>Risk</li>
                      <li>Issues</li>
                      <li>Action Items</li>
                    </ul>
                  </td></tr> 
                <tr><td>
                  <div class="item-count">
                    <span class="number">17</span>
                    <span class="verti-divider"></span>
                    <span class="number">4</span>
                    <span class="verti-divider"></span>
                    <span class="number">5</span>
                    <span class="verti-divider"></span>
                    <span class="number">6</span>
                    <span class="verti-divider"></span>
                    
                  </div>
                </td></tr>  
                <tr>
                  <div class="status">
                    <td class="status-heading1">
                 
                    <span>
                      Upcoming Milestone<br>
                      <p>orderability-2/21</p>
                    <p>EE Steering Committee- 3/27</p>
                    </span>
                    
                 
                  </td>
                  <td>
                 
                      <span class="status-heading2">
                        % Completed<br>
                        <p>27</p>
                      </span>
                      
                  
                </td>
              </div></tr>
              <tr>
                <div class="items">
                  <td>
                    <span class="img-title">GTM/Offer<br>
                    <img src="./assets/img/Offer_Umber.png"></span>
                  </td>
                  <td>
                      <span class="img-title">Culture/Callab<br>
                      <img src="./assets/img/Collab_Red.png"></span>
                    </td>
                    <td>
                        <span class="img-title">Capabilities<br>
                        <img src="./assets/img/Capabilities_Green.png"></span>
                      </td>
                </div>
              </tr>
              <tr>
                  <div class="items">
                    <td>
                      <span class="img-title">Roadmap<br>
                      <img src="./assets/img/Roadmap_Umber.png"></span>
                    </td>
                    <td>
                        <span class="img-title">VDDS<br>
                        <img src="./assets/img/VDDS_Green.png"></span>
                      </td>
                      <td>
                          <span class="img-title">End State<br>
                          <img src="./assets/img/EndState_Red.png"></span>
                        </td>
                  </div>
                </tr>
                <tr>
                    <div class="col buttons-align-center">
                        <button class="btn btn--primary btn--small">View Deal DNA</button>
                      <button class="btn btn--primary-ghost btn--small">View Deal Detail</button>
                    </div>
                </tr>
                </table>  
                </div>
            </div>
            
          </div>
        </div>
