
<h3>{{errorMsg}}</h3>


<!-- Active Deals -->

<div class="container">
    <div class="panel-group" style="width: 125%">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <strong>ACTIVE DEALS({{activeDealsCount}})</strong>
          <div class="btn-group pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
                <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="fontsmall">Edit</a></li>
                        <li><a href="#" class="fontsmall">Customise</a></li>
                        <li><a href="#" class="fontsmall">Reorder</a></li>                  
                      </ul>
              </div>
        </div>

      <div class="panel-body">
          <div class="row">

              <div  *ngFor="let deal of activeDeals; let i =index">
                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
            </div>          
          </div>
                  </div>

      </div>
    </div>
  </div>
</div>


<div class="container" >
<div class="row" style="width: 128%">

  <!-- followed Deals -->
    <div class="col-md-6">
    <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>FOLLOWED DEALS({{followedDealsCount}})</strong>
      <div class="btn-group pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
            <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="fontsmall">Edit</a></li>
                    <li><a href="#" class="fontsmall">Customise</a></li>
                    <li><a href="#" class="fontsmall">Reorder</a></li>                  
                  </ul>
          </div>
        </div>
      <div class="panel-body">
          <div class="row">


              <div  *ngFor="let deal of followedDeals; let i =index">
                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
            </div>
          
          </div>
                  </div>

      </div>
</div>
      </div>          
      </div>

      <!-- Inactive Deals -->
      <div class="col-md-6">
          <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>INACTIVE DEALS({{inactiveDealsCount}})</strong>
            <div class="btn-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
                    <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="fontsmall">Edit</a></li>
                            <li><a href="#" class="fontsmall">Customise</a></li>
                            <li><a href="#" class="fontsmall">Reorder</a></li>                  
                          </ul>
                  </div>
                </div>
            <div class="panel-body">
                <div class="row">
      
      
                    <div  *ngFor="let deal of InactiveDeals; let i =index">
                        
                    <div class="col">
                            <app-deal [dealData]="deal"></app-deal>
                  </div>                
                </div>                
                        </div>
      
            </div>
            </div>

    </div>
  </div>

</div>
</div>