<div class="sidebar sidebar--ltgray">
        
              <!--   <a class="header-bar__logo" style="padding-left: 90px ;margin-bottom: 30px; margin-top: 10px;">
            <span class="icon-cisco"></span>
        </a> -->
        
        <ul>
            <li class="sidebar__item"><a>MY DEALS</a></li>
            <li class="sidebar__item"><a>ALL DEALS</a></li>
            <li class="sidebar__item"><a>METHODOLOGY</a></li>
            <li class="sidebar__item"><a>LEARNING & DEV</a></li>
            <li class="sidebar__item">
                <a>QUICK TOOLS</a>
                <!-- <ul>
                    <li class="sidebar__item"><a>Open Device Configuration</a></li>
                    <li class="sidebar__item"><a>Configuration Guides</a></li>
                </ul> -->
            </li>
           
            <li class="sidebar__item"><a>REPORTS</a></li>
        </ul>
    </div>