li.sidebar__item  a{position:relative;}

li.sidebar__item a:after {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 80%;  /* or 100px */
  border-bottom:1px solid #ccc;
  margin:0 15%;
}

