.buttons-align-center{
  text-align: center;
  }
  .btn--small {
      font-size: 1.2rem;
    }
   
   .fontsmall-bold span{
    display: block;
     word-break: keep-all;
     width: 50px;
     white-space: normal; 
    margin: -15px 0px 0px 55px;
  } 
  .fontsmall-bold span.archetype{
    margin: -15px 0px 0px 86px;
  }

  .icon-more {
       color: #0377A1; 
      
  }
  .buttons-align-center{
    text-align: center;
    }
    .btn--small {
        font-size: 1.2rem;
      }
    
    .fontsmall-bold span{
      display: block;
      word-break: keep-all;
      width: 50px;
      white-space: normal; 
     margin: -15px 0px 0px 55px;
       overflow-wrap: break-word;
    } 
    .fontsmall-bold span.archetype{
      margin: -15px 0px 0px 86px;
    }
    
     .fontsmall-bold .defaultCol{
      width: 80px;
    }

    
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:white;
  }
  
  .dropdown-menu {   
    min-width: 110px;   
  }
  
   .btn--primary-ghost {
      border: 1px  #049fd9;    
  }
  
  .fontsmall {
    font-size: x-small;
    white-space: nowrap;
  }
  .fontsmall-bold {
    font-size: x-small;
    white-space: nowrap;
    font-weight: bold;  
  }
  
  .panel-heading {
    padding: 4px 8px;
    }
  
    .panel-three>div{
      width: 33%;
    }
    .panel-three .row .col{
      padding: 0px;
      font-size: 8px;
      padding-left: 4px;
    }
    .panel-three .panel-button .fontsmall{
      font-size: 8px;
    }
    .panel-group .panel{
      padding: 0;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
  .panel-heading-style{
    font-size: 12px;
    font-weight: 500;
  }
  .icon-more{
    color: white;
    -webkit-transform: rotate(90deg);
  }