<div class="row bodycomp">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <div class="form-group__text">
                    <input id="search" type="search" (click)="toggleDropDown()">
                    <label for="search">Keywords , deal name , deal sector , artefact types , Deal Lead</label>
                    
                    <button type="button" class="link">
                        <span class="icon-search"></span>
                        <div *ngIf="showDropDown" class="deal-container-dropdown">
                            <div>
                              <div *ngFor='let d of deals' class="deal" >
                             <div class="title"> {{d.title}}</div>
                              <div *ngFor='let items of d.Items' class="dealItems" > 
                              {{items}}</div>
                              </div>
                          </div>      
                          </div>
                    </button>
                   
                </div>
            </div>
        </form>
    </div>
</div>