:host /deep/ .modal__body{
    max-height:350px;
    overflow-y: auto;
    overflow-x:hidden;
}

:host /deep/ .modal__title {
    font-size: 2rem !important;
    font-weight: 500 !important;
}

.p-text-style{
    font-style: italic;
    font-size: smaller;
}

:host /deep/ .modal .modal__dialog {
    max-width: 500px !important;
}
:host /deep/ .modal .modal__content{
    padding:30px 30px !important;
}
:host /deep/ .modal .modal__content .modal__footer{
    margin-top:20px !important;
}

