<div class="row">
<div class="col-md-12">
<div class="secondary-tabs">
    <ul class="tabs">
        <li class="tab" style="padding: 0px 0px 6px 27px;">
            <div class="tab__heading">Deal Summary <span class="div-border"></span></div>
        </li>
        
        <li class="tab">
            <div class="tab__heading">Total 
                <span class="number">5</span><a>View All</a> <span class="div-border"></span></div>
        </li>
        
        <li class="tab active">
            <a>
                <div class="tab__heading" title="Tab Title 1">Active
                  <span class="number">3</span>
                  <span class="div-border"></span>
                </div>
                
              </a>

            
        </li>
        
        <li class="tab">
            <a>
                <div class="tab__heading" title="Tab Title 2">Followed
                    <span class="number">5</span>
                    <span class="div-border"></span>
                </div>
                
              </a>
            
        </li>
        
        <li class="tab">
            <a>
                <div class="tab__heading" title="Tab Title 3">InActive
                    <span class="number">4</span>
                </div>
               
              </a>
            
        </li>
    </ul>
</div>
</div>
</div>